/* LAYOUT */
:root {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 1px;

	--ui-theme-1: #05070D;
	--ui-theme-2: #263640;
	--ui-theme-3: #5E7F8C;
	--ui-theme-4: #A4B8BF;
	--ui-theme-5: #F2F2F2;
	--ui-error: #BD1E1E;

	color: var(--ui-theme-4);
	background-color: var(--ui-theme-1);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#app {
	width: 980px;
	margin: 0 auto;
	text-align: center;
}


/* BOARD AREA */
.board {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	min-height: 45vh;
	position: relative;
	width: 100%;
	box-shadow: 0 0 3px var(--ui-theme-3);
	border-radius: 5px;
	padding: 32px 0;
	margin-bottom: 72px;
	border: 1px solid var(--ui-theme-3);
}

.board * {
	margin: 4px 0;
}

.placed-word {
	margin-bottom: 32px;
	transition: opacity 0.3s ease;
}

.placed-word.inactive {
	opacity: 0.3;
}

.added-word {
	transition: opacity 0.3s ease;
}

.added-word.inactive {
	opacity: 0.3;
}


/* UI ELEMENTS */
.button {
	background-color: transparent;
	border: 1px solid var(--ui-theme-3);
	color: var(--ui-theme-3);
	padding: 8px 24px;
	font-size: 32px;
	display: inline-block;
	transition: all 0.15s ease;
}

.button.disabled {
	opacity: 0.5;
}

.button.disabled:hover {
	border-color: var(--ui-theme-3);
	color: var(--ui-theme-3);
	background-color: transparent;
	box-shadow: none;
}

.button:hover {
	border-color: var(--ui-theme-4);
	color: var(--ui-theme-4);
	box-shadow: 0 0 5px var(--ui-theme-3);
	text-shadow: 0 0 4px var(--ui-theme-3);
}

.button:active {
	background-color: var(--ui-theme-3);
	color: var(--ui-theme-5);
	box-shadow: 0 0 5px var(--ui-theme-4);
}

input[type="text"] {
	background-color: transparent;
	border: 1px solid var(--ui-theme-3);
	color: var(--ui-theme-3);
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 32px;
	max-width: 340px;
	text-align: center;
	transition: 0.15s box-shadow, 0.15s color, 0.15s border-color;
}

input[type="text"]:focus {
	outline: none;
	color: var(--ui-theme-4);
	border-color: var(--ui-theme-4);
	box-shadow: 0 0 5px var(--ui-theme-3);
}

.inputs {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
	margin: 24px 0;
}

.input {
	position: relative;
}

.inputs input {
	display: block;
	margin-top: 8px;
}

.error {
	position: absolute;
	display: block;
	color: var(--ui-error);
	font-size: 0.9em;
	margin-top: 4px;
	padding: 4px 8px;
	opacity: 0;
	transition: opacity 0.3s ease;
	translate: 0 -5px;
	width: 100%;
}

.error.visible {
	opacity: 1;
}

.error.not-found {
	top: -40px;
}


/* SCRABBLE TILES */
.rack {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 48px;
}

.tile-group {
	display: inline-block;
	margin: 0 32px;
	min-width: 480px;
	border-bottom: 1px dashed var(--ui-theme-3);
	min-height: 83px;
}

.scrabble-tile {
	position: relative;
	border: 1px solid var(--ui-theme-4);
	color: var(--ui-theme-4);
	display: inline-block;
	
	margin: 8px 4px;
	box-shadow: 0 0 5px var(--ui-theme-3);
	min-width: 54px;
	translate: 0 0;
	scale: 1;
	opacity: 1;
	transition: all 350ms ease;
}

.scrabble-tile.transitioning {
	translate: 20px 10px;
	scale: 1.15;
	opacity: 0;
}

.letter {
	font-size: 42px;
	font-weight: bold;
	text-shadow: 0 0 4px var(--ui-theme-3);
}

.points {
	position: absolute;
	bottom: 2px;
	right: 3px;
	font-size: 12px;
}


/* This app is intended to be a desktop app, but wouldn't hurt to throw in a bit of responsiveness */

@media screen and (max-width:1020px) {
	#app {
		width: 100%;
		margin: 20px;
	}
}
@media screen and (max-width:750px) {
	.board {
		min-height: 36vh;
		margin-bottom: 32px;
	}

	.inputs {
		flex-direction: column;
	}

	.rack {
		flex-direction: column;
	}

	.button {
		margin-top: 24px;
	}
}

@media screen and (max-width:500px) {
	#app {
		margin: 10px;
	}

	/* .board {
		padding: 10px;
	} */

	.placed-word, .added-word {
		width: 95%;
	}

	.tile-group {
		min-width: 100%;
		max-width: 100%;
		margin: 0;
		min-height: 54px;
	}
	
	.scrabble-tile {
		min-width: 32px;
		padding-right: 2px;
		margin: 8px 2px;
	}

	.letter {
		font-size: 24px;
	}

	.points {
		bottom: -2px;
		right: 1px;
	}
}