:root {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 300;

	--ui-theme-1: #05070D;
	--ui-theme-2: #263640;
	--ui-theme-3: #5E7F8C;
	--ui-theme-4: #A4B8BF;
	--ui-theme-5: #F2F2F2;

	color: var(--ui-theme-5);
	background-color: var(--ui-theme-1);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#app {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.board {
	align-items: center;
	border: 1px solid var(--ui-theme-4);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 50vh;
	position: relative;
	width: 100%;
}

.board * {
	margin: 4px 0;
}

.points {
	position: absolute;
	bottom: 16px;
	margin: 0 auto;
}