:root {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--ui-theme-1: #05070D;
	--ui-theme-2: #263640;
	--ui-theme-3: #5E7F8C;
	--ui-theme-4: #A4B8BF;
	--ui-theme-5: #F2F2F2;
	--ui-error: #BD1E1E;

	color: var(--ui-theme-4);
	background-color: var(--ui-theme-1);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#app {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.board {
	align-items: center;
	border: 1px solid var(--ui-theme-4);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 50vh;
	position: relative;
	width: 100%;
}

.board * {
	margin: 4px 0;
}

.button {
	background-color: transparent;
	border: 1px solid var(--ui-theme-3);
	color: var(--ui-theme-3);
	padding: 8px 24px;
	font-size: 32px;
	display: inline-block;
}

.button:hover {
	border-color: var(--ui-theme-4);
	color: var(--ui-theme-4);
}

input[type="text"] {
	background-color: transparent;
	border: 1px solid var(--ui-theme-3);
	color: var(--ui-theme-4);
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 32px;
	max-width: 300px;
	text-align: center;
}

.button:active {
	background-color: var(--ui-theme-3);
	color: var(--ui-theme-5);
}

.inputs {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
	margin-top: 24px;
}

.input {
	position: relative;
}

.inputs input {
	display: block;
	margin-top: 8px;
}

.error {
	position: absolute;
	display: block;
	color: var(--ui-error);
	font-size: 0.9em;
	margin-top: 4px;
	padding: 4px 8px;
	opacity: 0;
	transition: opacity 0.3s ease;
	width: 100%;
}

.error.visible {
	opacity: 1;
}

.rack {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 48px;
}

.rack-tiles {
	display: inline-block;
	margin-right: 32px;
	min-width: 480px;
	border-bottom: 1px solid var(--ui-theme-3);
	min-height: 83px;
}

.scrabble-tile {
	position: relative;
	border: 1px solid var(--ui-theme-4);
	color: var(--ui-theme-4);
	display: inline-block;
	font-size: 24px;
	padding: 14px 20px;
	margin: 8px 4px;
}

.letter {
	font-size: 24px;
}

.points {
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-size: 12px;
}